<h1 id="welcome-title">Begin talking today!</h1>

  <video autoplay loop id="bgvid" poster="/images/user.png">
    <source src="https://www.dropbox.com/s/p10gd6awhkwe28o/test-2-welcome.mp4?dl=1" type="video/mp4">
  </video>

<div class="accounts">
  <form action="/users/sign_up">
    <input class="button" type="submit" value="Sign up">
  </form>

  <div class="sign-in-welcome">
    <p class="sign-in-p">
      Already have an account? <a class="sign-in-a" href="/users/sign_in">Sign in here.</a>
    </p>
  </div>
</div>
