$black: #000000;
$white: #ffffff;
$brown: #494949;
$grey: #7C7A7A;
$grey-dark: scale-color($grey, $lightness: -30%);
$grey-l: scale-color($grey, $lightness: +30%);
$grey-light: scale-color($grey, $lightness: +50%);
$grey-light1: scale-color($grey, $lightness: +80%);
$grey-light2: scale-color($grey, $lightness: +90%);
$green: #2FEF5C;
$green-d: scale-color($green, $lightness: -15%);
$green-dark: scale-color($green, $lightness: -30%);
$green-dark1: scale-color($green, $lightness: -50%);
$green-dark2: scale-color($green, $lightness: -65%);
$green-light: scale-color($green, $lightness: +80%);
