$black: #000000;
$white: #ffffff;
$brown: #494949;
$grey: #7C7A7A;
$grey-dark: scale-color($grey, $lightness: -30%);
$grey-l: scale-color($grey, $lightness: +30%);
$grey-light: scale-color($grey, $lightness: +50%);
$grey-light1: scale-color($grey, $lightness: +80%);
$grey-light2: scale-color($grey, $lightness: +90%);
$green: #2FEF5C;
$green-d: scale-color($green, $lightness: -15%);
$green-dd: scale-color($green, $lightness: -20%);
$green-dark: scale-color($green, $lightness: -30%);
$green-dark1: scale-color($green, $lightness: -50%);
$green-dark2: scale-color($green, $lightness: -65%);
$green-light: scale-color($green, $lightness: +80%);

$ten: $green;
$nine-5: adjust-hue($green, -6.7);
$nine: adjust-hue($green, -13.3);;
$eight-5: adjust-hue($green, -20);
$eight: adjust-hue($green, -26.7);
$seven-5: adjust-hue($green, -33.3);
$seven: adjust-hue($green, -40);
$six-5: adjust-hue($green, -46.7);
$six: adjust-hue($green, -53.3);
$five-5: adjust-hue($green, -60);
$five: adjust-hue($green, -66.7);
$four-5: adjust-hue($green, -73.3);
$four: adjust-hue($green, -80);
$three-5: adjust-hue($green, -86);
$three: adjust-hue($green, -93.3);
$two-5: adjust-hue($green, -100);
$two: adjust-hue($green, -106.7);
$one-5: adjust-hue($green, -113.3);
$one: adjust-hue($green, -120);
$zero-5: adjust-hue($green, -126.7);
$zero: adjust-hue($green, -133);
