footer {
  background-color: $grey-l;
}

.img-title-footer {
  padding: 10px 0 0 0;
  height: 50px;
}

.contact {
  list-style: none;
}

.inline-list{
  text-align: center;
}

i {
  font-size: 35px;
  padding: 7px;
  margin-top: 5px;
}

.copywrite {
  padding: 0;
  margin: 0 0 0 0;
}
