@mixin shadow1 {
  box-shadow: 1px 1px 1px #888888;
}
@mixin shadow2 {
  box-shadow: 2px 2px 2px #888888;
}
@mixin shadow3 {
  box-shadow: 3px 3px 3px #888888;
}
@mixin shadow4 {
  box-shadow: 4px 4px 4px #888888;
}

.topcorner{
   position:absolute;
   top:-20px;
   right:10px;
  }

  #show-score {
    text-shadow: 3px 3px $grey-dark;
  }

  // .score-messages-container {
  //   margin: 0 10px 0 0;
  // }

.score-username-container {
  @include shadow4;
  padding: 0 25px 0 25px;
  float: left;
  clear: left;
  background-color: $grey;
  margin: 0 0 0 0;
  text-align: center;
  overflow: hidden;
}

.score-username-container h1 {
  float: left;
  font-size: 100px;
}

.username-show {
  text-shadow: 3px 3px #888888;
  float: left;
  padding: -100px 0 0 20px;
  margin: -15px 0 0 20px;
  font-size: 51px;
}

.new-messages-container {
  padding: 0;
  overflow: hidden;
}

.new-messages-container h4 {
  text-align: center;
  margin: 0;
  border-bottom-color: $black;
}

.new-message-container {
  @include shadow3;
  float: right;
  list-style: none;
  background-color: $grey-light2;
  padding: 2px 2px 3px 4px;
  margin: 2px 0 2px 0;
  &:hover {
    background-color: $grey-light1;
    @include shadow7;
  }
}

.new-message-username a {
  color: $black;
  display: block;
}

.inbox {
  text-shadow: 1px 1px #444644
}

.new-message-body a {
  color: $green;
}

.stats-container {
  @include shadow3;
  background: $grey-light1;
  float: left;
  width: 300px;
  margin: 23px 0 10px 13px;
  padding: 5px;
}

.stat-name {
  float: left;
  clear:left;
  padding: 15px;
}

.stat{
  font-size: 20px;
  float: right;
  padding: 10px;
}
.stat-date{
  font-size: 18px;
  float: right;
  padding: 10px;
}

.rated-container {
  float: left;
  clear: both;
}

.rated-convos-container {
  float: left;
  clear: both;
  width: 100%;
}

.rated-convos-container h3 {
  float: left;
  margin: 20px;
}

.rated-convo-container {
  clear: both;
  @include shadow3;
  list-style: none;
  background-color: $grey-light1;
  margin: 8px 20px 8px 20px;
  &:hover {
    // background-color: $grey-light1;
    @include shadow6;
  }
}

.rated-convo-title {
  color: $grey-dark;
  font-weight: bold;
  font-size: 18px;
  padding: 0 0 0 5px;
}

.rated-convo-info {
  font-weight: 300;
  padding: 0 0 0 5px;
}
