@mixin shadow1 {
  box-shadow: 1px 1px 1px #888888;
}
@mixin shadow2 {
  box-shadow: 2px 2px 2px #888888;
}
@mixin shadow3 {
  box-shadow: 3px 3px 3px #888888;
}
@mixin shadow4 {
  box-shadow: 4px 4px 4px #888888;
}

.user {
  @include shadow2;
  background-color: $grey-light1;
  margin: 10px;
  padding: 0;
  border: 0;
  &:hover {
    // background-color: $grey-light;
    @include shadow4;
  }
  &:active {
    @include shadow1;
  }
}

.score-username-container-show{
  float: left;
  padding: 0 0 0 0;
}
.username-show {
  float: left;
  margin: 3px 0 0 20px;
  font-size: 20px;
  list-style: none;
}

.score-show {
  float: left;
  top: 0;
  left: 0;
  margin: 0 0 0 0px;
  padding: 5px;
  width: 60px;
  font-size: 26px;
  text-align: center;
  color: $black;
  background-color: $grey;
  list-style: none;
}

.ten {
  color: $ten;
}

.nine-5 {
  color: $nine-5;
}
.nine {
  color: $nine;
}

.eight-5 {
  color: $eight-5;
}
.eight {
  color: $eight;
}

.seven-5 {
  color: $seven-5;
}
.seven {
  color: $seven;
}

.six-5 {
  color: $six-5;
}
.six {
  color: $six;
}

.five-5 {
  color: $five-5;
}
.five {
  color: $five;
}

.four-5 {
  color: $four-5;
}
.four {
  color: $four;
}

.three-5 {
  color: $three-5;
}
.three {
  color: $three;
}

.two-5 {
  color: $two-5;
}
.two {
  color: $two;
}

.one-5 {
  color: $one-5;
}
.one {
  color: $one;
}

.zero-5 {
  color: $zero-5;
}
.zero {
  color: $zero;
}
